extends layout

block content
  h1= title
  h2 I'm Mark, a front-end developer in Seattle, WA
  p I'm passionate about creating user-first web experiences with concise,
    | scalable, semantic code in the presentation layer.
  p This site is a Node application written in Jade &amp; CSS.
