extends layout

block content
  h1 I'm #{title}
  h2 Front-end Developer in Seattle
  nav
    a(href='/about') About
    a(href='twitter.com/markpalfreeman') Twitter
    a(href='medium.com/@markpalfreeman') Blog
